.header {
    width: 98%;
    padding: 10px 10px;
    background-color: rgb(41, 44, 88);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fix the header to the top */
    top: 0;
    left: 0;
    
    z-index: 1000; /* Ensure the header is above other content */
}

.header-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    width: 100%;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
}

.header-username {
    font-size: 1em;
    color: white;
    margin-left: auto; /* Push the username to the right */
}